html,
body {
  height: 100%;
  width: 100%;
  font-family: verdana;
}
h1 {
  text-align: center;
}
svg {
  text-align: center;
  font-weight: 700;
  z-index: 1;
}
#legend {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  border: 3px solid #000000;
  z-index: -1
}
.center {
	text-align: center;
}
#spring {
	background-color: SpringGreen;
	top:40
}
#red {
	background-color: red;
	top:20
}